#news-carousel {
    width          : 300px;
    height         : 400px;
    position       : relative;
    overflow       : hidden;
    margin         : 0 auto;
}

.handle {
    width          : 400%;
    height         : 100%;
    position       : relative;
    cursor         : move;
}

.slide {
    width          : 300px;
    height         : 100%;
    position       : relative;
    display        : inline-block;
    vertical-align : top;
}

#slide-1 {
    background     : red;
}

#slide-2 {
    background     : green;
}

#slide-3 {
    background     : blue;
}

#slide-4 {
    background     : purple;
}

.news {
    padding        : 1rem;
    color          : white;
    overflow-y     : auto;
}

#news-paginator {
    margin         : 0 auto 40px;
    width          : 500px;
    text-align     : center;
}
